html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
  text-align: center;
  background-color: grey;
  display: absolute;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
#stack{
  opacity: 0.6;
}