html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
/* Centers canvas in project.html to page to layer pong game over song visualizer*/
body {
  text-align: center;
  background-color: grey;
  display: absolute;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
/* Helps to blend "pong" canvas with song visualizer and adds border to see games' walls */
#pong{
  opacity: 0.6;
  border-style: solid;
  border-color: white;
}